@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Jost", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
  color: #242424;
}

a,
a:link,
a:visited {
  display: inline-block;
  text-decoration: none;
  color: #222529;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

ul {
  list-style: none;
}

button:hover {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Hanken Grotesk", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.h4 {
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 3.16rem;
}

.h5 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.4rem;
}

.container {
  max-width: 135.4rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.btn,
.btn:link,
.btn:visited,
.btn-light,
.btn-light:link,
.btn-light:visited {
  position: relative;
  padding: 0.8rem 2rem;
  font-family: "Jost", sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background: #2e6bc6;
  transition: all 0.3s;
  border-radius: 8px;
}
.btn:hover,
.btn:link:hover,
.btn:visited:hover,
.btn-light:hover,
.btn-light:link:hover,
.btn-light:visited:hover {
  background: #2357a6;
}

.btn-light,
.btn-light:link,
.btn-light:visited {
  color: #777777;
  border: 2px solid #d1d1d1;
  background: none;
}
.btn-light:hover,
.btn-light:link:hover,
.btn-light:visited:hover {
  background: #dddddd;
}

.sub-title {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 1.5px;
  color: #2e6bc6;
}

.section-title {
  margin-bottom: 1.2rem;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 3.6rem;
  font-weight: 600;
  color: #242424;
}

.desc {
  color: #777777;
}

.flip {
  transition: all 0.3s;
}
.flip:hover {
  transform: rotateY(180deg);
  background: #fff;
  color: #2e6bc6;
}

.item-content {
  position: relative;
}
.item-content::after, .item-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header {
  height: 9rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.header .header-inner {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}
.header .logo-conteiner {
  height: 3.6rem;
}
.header .logo-conteiner img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 5px 0;
}
.header .navbar {
  flex: 1;
  color: #333333;
  font-size: 1.4rem;
}
.header .navbar ul {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.header .navbar ul li {
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 500;
}
.header .navbar ul li a {
  padding: 1rem 0;
}
.header .navbar ul li a:hover {
  color: #2e6bc6;
}
.header .header-actions {
  font-size: 1.4rem;
}
.header .header-actions ul {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}
.header .header-actions ul li {
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 500;
}
.header .header-actions ul li a {
  position: relative;
  padding: 1rem 0;
}
.header .header-actions ul li a span {
  position: absolute;
  right: 0;
  top: 5px;
  width: 1.4rem;
  height: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
  background: #2e6bc6;
  font-size: 1.2rem;
  color: white;
}
.header .header-actions ul li a:hover {
  color: #2e6bc6;
}
.header .header-actions ul li i {
  font-size: 2.4rem;
}

.hero {
  height: 70rem;
  background-image: url("../assets/images/w-accessories-slider.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero .hero-body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}
.hero .hero-body .content {
  width: 40%;
  margin-right: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
}
.hero .hero-body .content h1 {
  font-size: 7.2rem;
  font-weight: 600;
}
.hero .hero-body .content p {
  color: #777777;
}
.hero .hero-body .content .btn-group {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.categories-section {
  padding: 8rem 0;
}

.categories-body {
  display: flex;
  justify-content: space-between;
}
.categories-body .item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.categories-body .item .img-box {
  width: 14rem;
  height: 14rem;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 2rem;
}
.categories-body .item .img-box img {
  transition: all 0.3s;
}
.categories-body .item p {
  color: #777777;
  font-size: 1.4rem;
  font-weight: 500;
}
.categories-body .item:hover img {
  transform: scale(1.1);
}

.new-arrivals .section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}/*# sourceMappingURL=style.css.map */